header {
  background-color: red;
  color: yellow;
} 
body {
  position: relative;
  height: 100%;
  padding-bottom: 40px;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
} 
footer {
  position: absolute;
  height: 25px;
  bottom: 0;
  background-color: blue;
  color: yellow;
  width: 100vw;
}
.pokePic {
  height: 200px;
}
.errorBall {
  height: 200px;
}
#left-panel {
  width: 50%vw;
  padding: 15px;
}
#good-weak {
  width: 50%vw;
  padding: 20px;
  border: 2px solid red;
  margin: 10px;
}
.battle-button {
  border: 2px solid blue;
  padding: 10px;
}
#weak-button {
  margin-top: 10px;
}