#openingPage {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 5;
  background-color: white;
}
header {
  background-image: url('https://i.imgur.com/DVHRUkU.png');
  height: 65px;
  background-size: cover;
  text-align: center;
  width: 97.5vw;
} 
#heading {
  font-family: 'Stalinist One', cursive;
  text-shadow: 0 0 15px black;
  color: white;
  padding: 5px;
}
body {
  position: relative;
  height: 100%;
  padding-bottom: 70px;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-right: 0;
} 
footer {
  position: relative;
  height: 65px;
  bottom: 0;
  background-image: url('https://i.imgur.com/Kn5ZUcF.png');
  background-position: bottom;
  background-size: cover;
  width: 97.5vw;
  align-content: flex-end;
  opacity: .5;
}
#footing {
  position: absolute;
  bottom: 3px;
  left: 7px;
  color: red;
}
.pokePic {
  height: 225px;
  display: inline;
  background-image: url('https://i.imgur.com/YE619xI.jpg');
  padding: 0;
  border: 5px solid rgb(240, 240, 16);
}
#errorBall {
  height: 255px;
  width: 255px;
}
#leftPanel {
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0.5;
}
#goodWeak {
  width: 50%vw;
  padding: 20px;
  margin: 10px;
}
#weakButton {
  margin-top: 10px;
}
.displayHidden {
  display: none;
}
.pokeCard {
  background-image: url('https://i.imgur.com/5Pien6r.jpg');
  background-size: cover;
  border: 10px solid rgb(240, 240, 16);
  box-sizing: border-box;
  width: 430px;
  margin: 20px 15px 35px 15px;
  border-radius: 5px;
}
h1 {
  display: inline;
  float: left;
  margin-top: 0;
}
h2 {
  display: inline;
  float: right;
  margin-top: 3px;
  padding: 5px;
}
#types {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .4);
  padding-bottom: 10px;
  /* margin-top: 10px; */
}
#pokeTypeList {
  margin: 0;
}
#movesSection {
  background-color: rgba(255, 255, 255, .4);
  margin: 10px 0;
  text-align: left;
}
#picSection {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
h3 {
  margin: 10px;
}
.battleButton {
  background-image: url('https://i.imgur.com/UaScAcW.jpg');
  color: white;
  border: 1px solid orange;
  padding: 10px;
}
.battleButton:hover {
  cursor: pointer;
}
#allTheNarrowing {
  display: inline-flex;
  flex-direction: column;
  float: right;
  margin-right: 7px;
}
#nameNumSelect {
  margin: 0 auto;
  text-align: center;
  display: inline;
}
button {
  display: inline;
  float: right;
}
#narrowDown {
  display: inline-flex;
  float: right;
  flex-direction: column;
}
#narrowButton {
  background-color: brown;
  color: aqua;
  display: inline;
  float: right;
  padding: 3px;
}
#narrowButton:hover {
  cursor: pointer;
}
#noneMatched {
  background-color: yellow;
}
#bothList li:hover {
  cursor: pointer;
  color: red
}
#colorSelect {
  margin-top: 5px;
}
#submitter {
  background-color: aqua;
  color: brown;
}

@media screen and (max-width: 700px) {
  header {
    font-size: 14px;
    background-image: url('https://i.imgur.com/vX6FBWt.png');
    background-position: center;
    height: 45px;
  }
  footer {
    font-size: 10px;
    background-image: url('https://i.imgur.com/LrA8Ckk.png');
    background-position: center;
    height: 45px;
  }
}

@media screen and (max-width: 530px) {
  .errorFound {
    font-size: 24px;
  }
}

@media screen and (max-width: 350px) {
  #heading {
    font-size: 10px;
  }
  #colorSelect,
  #typeSelect {
    margin: 1px;
  }
  #narrowDown {
    height: 102px;
  }
  #leftPanel {
    padding-bottom: 50px;
  }
  #narrowButton {
    margin-top: 5px;
  }
  #nameNum {
    display: block;
  }
} 