#openingPage {
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 5;
  background-color: white;
  min-width: 235px;
}
header {
  background-image: url('https://i.imgur.com/DVHRUkU.png');
  height: 65px;
  background-size: cover;
  text-align: center;
  width: 100vw;
  min-width: 235px;
} 
#heading {
  font-family: 'Stalinist One', cursive;
  text-shadow: 0 0 15px black;
  color: white;
}
body {
  position: relative;
  height: 100%;
  padding-bottom: 70px;
}
main {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
} 
footer {
  position: relative;
  height: 65px;
  bottom: 0;
  background-image: url('https://i.imgur.com/Kn5ZUcF.png');
  background-position: bottom;
  background-size: cover;
  width: 100vw;
  align-content: flex-end;
  opacity: .5;
  min-width: 235px;
}
#footing {
  position: absolute;
  bottom: 3px;
  left: 7px;
  color: red;
}
.pokePic {
  height: 225px;
  display: inline;
  background-image: url('https://i.imgur.com/YE619xI.jpg');
  padding: 0;
  border: 5px solid rgb(240, 240, 16);
  /* position: relative; */
}
.errorBall {
  height: 200px;
}
#left-panel {
  padding: 15px;
  display: flex;
  flex-direction: column;
}
#good-weak {
  width: 50%vw;
  padding: 20px;
  /* border: 2px solid red; */
  margin: 10px;
}
.battle-button {
  border: 2px solid blue;
  padding: 10px;
}
#weak-button {
  margin-top: 10px;
}
.display-hidden {
  display: none;
}
.poke-card {
  background-image: url('https://i.imgur.com/5Pien6r.jpg');
  background-size: cover;
  border: 10px solid rgb(240, 240, 16);
  box-sizing: border-box;
  width: 430px;
  margin: 20px 15px 35px 15px;
}
h1 {
  display: inline;
  float: left;
  margin-top: 0;
}
h2 {
  display: inline;
  float: right;
  margin-top: 3px;
  padding: 5px;
}
#types {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, .4);
  padding-bottom: 10px;
  /* margin-top: 10px; */
}
#pokeTypeList {
  margin: 0;
}
#movesSection {
  background-color: rgba(255, 255, 255, .4);
  margin: 10px 0;
  text-align: left;
}
#picSection {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
h3 {
  margin: 10px;
}
.battle-button {
  background-image: url('https://i.imgur.com/UaScAcW.jpg');
  color: white;
  border: 1px solid orange;
}
.battle-button:hover {
  cursor: pointer;
}
form {
  margin: 0 auto;
  text-align: center;
}

@media screen and (max-width: 700px) {
  header {
    font-size: 14px;
    background-image: url('https://i.imgur.com/vX6FBWt.png');
    background-position: center;
    height: 45px;
  }
  footer {
    font-size: 10px;
    background-image: url('https://i.imgur.com/LrA8Ckk.png');
    background-position: center;
    height: 45px;
  }
} /* end media query */

@media screen and (max-width: 330px) {
  #heading {
    font-size: 10px;
  }
} 